body {
  margin: 0px;
  font-family: "PlayfairDisplay", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
h2 {
  font-weight: 500;
}
.logo {
  max-width: 32px;
}
h2 {
  text-align: center;
}
/* Profile section */
header{
  background:linear-gradient(160deg ,steelblue 50%, white 50%);
}
#profile-image-container {
  position: relative;
  padding: 32px 64px 128px 64px;
}

#profile-image {
  max-width: 100%;
}
#profile-image-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: xx-large;
}
.screenshot-img {
  max-width: 100%;
  padding-bottom: 1px;
  border-bottom: 1px solid;
}

a > img {
  width: 32px;
}
#about-me-git {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-me-description {
  margin: 8px 16px;
}
/* Project Section */
.card-header {
  display: flex;
}
.project-card {
  margin: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 8px #888888;
}
.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 12px 0px;
  padding: 0px 32px;
}
.card-details {
  padding: 0px 16px;
  margin: 0px 16px 16px 16px;
}
/* Footer */
footer {
  padding: 16px 0px;
  background-color: steelblue;
  color: white;
}

/* Media Queries */
/* Tablet */
@media (min-width: 800px) and (max-width: 999px){
  header{
    position: relative;
    padding-top: 16px;
    /* overflow: hidden; */
  }
  #profile-image-text {
    position: absolute;
    top: 13%;
    right: 0px;
    transform: none;
    color: white;
    font-size: xx-large;
    z-index: 2;
    margin-left: 96px;
  }
  #profile-image{
    max-width: 400px;
  }
  #profile-image-container{
    padding: 32px 16px 16px 32px;
    float: left;
    z-index: 1;
    position: static;
    
  }
  #about-me-container {
    box-shadow: 8px 8px 8px #888888;
    margin: 100px 64px;
    padding: 32px;
    top: 0%;
    flex-grow: 1;
    background-color: white;
  }
  #about-me-description {
    margin: 8px 16px;
  }
  #project-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 128px;
  }
  footer{
    padding:32px;
  }

}
/* Laptop */
@media (min-width: 1000px){
  header{
    position: relative;
    padding-top: 16px;
    padding-right: 64px;
    padding-bottom: 32px;
    margin-left: 0px;
    background:linear-gradient(170deg,steelblue 60%,white 40%);
    /* overflow: hidden; */
  }
  #profile-image-text {
    position: absolute;
    top: 10%;
    right: 0px;
    transform: none;
    color: white;
    font-size: xx-large;
    z-index: 2;
    margin-left: 180px;
  }
  #profile-image{
    max-width: 600px;
  }
  #profile-image-container{
    padding: 64px 32px 32px 64px;
    float: left;
    z-index: 1;
    position: static;
    
  }
  #about-me-container {
    box-shadow: 8px 8px 8px #888888;
    margin: 100px 64px;
    padding: 64px;
    top: 0%;
    flex-grow: 1;
    background-color: white;
  }
  #about-me-description {
    margin: 8px 16px;
  }
  section{
    margin: 0px 64px;
  }
  #project-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 128px;
  }
  footer{
    padding:32px;
  }

}